<mat-toolbar color="primary" class="apart">
  <mat-icon (click)="toggleSidebar()">menu</mat-icon>
  <span style="margin-left:2vw">Rowters Bookshop</span>
  

  <span class="example-spacer"></span>
  <button mat-button *ngIf="loginService.isUserLoggedIn()" routerLink="/cart" class="nav-link">Cart
    <mat-icon  [matBadge]="totalItem > 0 ? totalItem : '' " matBadgeColor="warn">shopping_cart</mat-icon>
  </button>

</mat-toolbar>

<mat-drawer-container autosize>

  <mat-drawer #myDrawer>
    <mat-list>
      <mat-list-item *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" (click)="myDrawer.toggle()">
        Login
      </mat-list-item>
      <mat-list-item *ngIf="!loginService.isUserLoggedIn()" routerLink="/register" (click)="myDrawer.toggle()">
        Register
      </mat-list-item>
      <mat-list-item *ngIf="loginService.isUserLoggedIn()" routerLink="/about-us" (click)="myDrawer.toggle()">
        About Us
      </mat-list-item>
      <mat-list-item *ngIf="loginService.isUserLoggedIn()" routerLink="/" (click)="myDrawer.toggle()">
        Main Book List
      </mat-list-item>
      <mat-list-item *ngIf="loginService.isUserLoggedIn()" routerLink="/order-history" (click)="myDrawer.toggle()">
        See Past Order
      </mat-list-item>
      <mat-list-item *ngIf="loginService.isUserLoggedIn() && loginService.isUserAdmin()" routerLink="/add-item" (click)="myDrawer.toggle()">
        Add New Items
      </mat-list-item>
      
      
      <mat-list-item *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" (click)="myDrawer.toggle()">
        Logout
      </mat-list-item>      
    </mat-list>
  </mat-drawer>

  <div class="full-height">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
