<mat-card>
    <mat-card-header>
        <mat-card-title>Reset Your Password Now</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="newPassword">New password: </label>
                <input id="newPassword" type="password" class="form-control" formControlName="newPassword" #pw />
                <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)"
                    class="form-text text-danger">
                    <div *ngIf="newPassword.errors?.['required']">
                        Field is required
                    </div>
                    <div *ngIf="newPassword.errors?.['pattern']">
                        Password must contain at least one number, <br />one uppercase and a
                        lowercase letter and at least 8 characters<br />Password cannot
                        contain whitespace
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="confirmPassword">New password (confirmation):</label>
                <input id="confirmPassword" type="password" class="form-control" [ngClass]="confirmPasswordClass"
                    formControlName="confirmPassword" #cpw />
                <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
                    class="form-text text-danger">
                    <div *ngIf="confirmPassword.errors?.['required']">
                        Field is required
                    </div>
                    <div *ngIf="confirmPassword.errors?.['pattern']">
                        Password must contain at least one number,<br />one uppercase and a
                        lowercase letter and at least 8 characters<br />Password cannot
                        contain whitespace
                    </div>
                    <div *ngIf="confirmPassword.errors?.['confirmedValidator']">
                        Passwords did not match
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <button type="submit" [disabled]="resetPasswordForm.invalid" class="btn btn-primary col-6">Reset</button>
                <div class="col-1"></div>
                <button type="button" class="btn btn-light col-5 mx-auto" routerLink="/login">
                    Login
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
