<mat-card>
    <mat-card-header>
        <mat-card-title>Reset Password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form>
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <p>Key in your email here and we will send the reset link to your email</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Email" [(ngModel)]="email" name="email" required>
                        </mat-form-field>
                    </td>
                </tr>
                
                
            </table>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="submitReactivation()">Send my Reactivation Link</button>
        <br>
       
    </mat-card-actions>


</mat-card>
